body {
    text-align: center;
}


h1 {
    text-align: center;
}

hr {
    margin: 10px;
}

#color-palette {
    text-align: center;
}

#pixel-board {
    text-align: center;
}

#clear-board {
    margin: 10px;
}

#generate-board {
    margin: 10px;
}

.column {
    /* border: black solid 1px; */
    height: 42px;
}

.pixel {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: black solid 1px;
}

.color {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: black solid 1px;
    
}

.color.black {
    background-color: black;   
}

.color.red {
    background-color: red;
}

.color.blue {
    background-color: blue;
}

.color.green {
    background-color: green;
}